<h1>Welcome to HataSquad</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>What is HataSquad</h2>
            <p>
                It`s the community of programmers from Ukraine that will...
            </p>
        </div>

        <div class="col-md-12">
            <h2>Why HataSquad?</h2>
            <p>
                We are not looking for a clients, clients are looking for us. If you already at this page, it means that you've been interesting in our compamy
            </p>
        </div>

        <div class="col-md-12">
            <h2>What is this project all about</h2>
            <p>
               This project is our first project from which we are going to get the world!!!
            </p>
        </div>
    </div>
</div>