@model Application.ViewModels.AccountVM.LoginViewModel
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <img class="wave" src="~/img/wave2.png" />
    <div class="container">
        <div class="img">
            <a asp-action="Index" asp-controller="Home">
                <img src="~/img/undraw_Bibliophile_hwqc.svg" />
            </a>
        </div>
        <section id="loginForm">

            <div class="login-content">

                <form asp-controller="Account" asp-action="Login" style="margin: 10%" method="post">
                    @Html.AntiForgeryToken()

                    <img src="~/img/avatar.svg">
                    <h2 class="title">Welcome</h2>
                    <div>
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="div">
                                <h5>Email</h5>
                                <input type="text" class="input" asp-for="Email">
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="input-div pass">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="div">
                                <h5>Password</h5>
                                <input type="password" class="input" asp-for="Password">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

                            <input type="submit" class="btn" value="Log in">
                            @Html.ActionLink("Register", "Register", "Account", new { @class = "btn noHover", style = "text-align:center; padding:10px;" })
                        </div>
                    </div>
                  
                </form>


            </div>
        </section>
        <div class="col-md-4">
            <section id="socialLoginForm">
            </section>
        </div>
    </div>

    <script src="~/js/login.js"></script>
</body>
</html>