
@model Application.ViewModels.AccountVM.LoginViewModel
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
    <title>ViewBag.Title</title>
</head>
<body>
    <img class="wave" src="~/img/wave2.png">
    <div class="container">
        <div class="img">
            <a asp-action="Index" asp-controller="Home">

                <img src="~/img/undraw_book_lover_mkck.svg" />
            </a>
        </div>
        <div class="login-content">
            <form id="reg__form" method="post" asp-controller="Account" asp-action="Register">
                <img src="~/img/avatar.svg">
                <h2 class="title">Waiting for you</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>

                        <input asp-for="UserName" class="input" id="username" type="text" />

                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small class="reg__error">Error message</small>
                    </div>

                </div>
                <span asp-validation-for="UserName" class="text-danger validation-summary-errors"></span>


                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <h5>Email</h5>
                        <input asp-for="Email" class="input" id="email" type="email">

                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small class="reg__error">Error message</small>
                    </div>

                </div>
                <span asp-validation-for="Email" class="text-danger validation-summary-errors"></span>

                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input asp-for="Password" type="password" class="input" id="password">

                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small class="reg__error">Error message</small>
                    </div>

                </div>
                <span asp-validation-for="Password" class="text-danger validation-summary-errors"></span>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password check</h5>
                        <input asp-for="ConfirmPassword" type="password" class="input" id="password2">

                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small class="reg__error">Error message</small>
                    </div>

                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger validation-summary-errors"></span>
                <input onclick="checkInputs()" type="submit" class="btn" value="Submit">
            </form>
        </div>
    </div>
    <script src="~/js/login.js"></script>
</body>
</html>