.promotion-wrapper{
    min-height: 2050px;
    padding: 10px 0 100px 0;
    .promotion{
        &__header{
            text-align: center;
            color: #000000;
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 25px;
        }
        &__info{
            margin-top: 60px;
            text-align: center;
            &-block{
                &-img{
                    img{
                        width: 75%;
                    }
                }
                &-header{
                    color: #000000;
                    font-size: 23px;
                    font-style: italic;
                }
                &-price{ 
                    &-discount{
                        &-before{
                            color: #707070;
                            font-size: 23px;
                            font-weight: 700;
                            text-decoration: line-through;
                        }
                        &-value{
                            text-align-last: left;
                            color: #ff7d13;
                            font-size: 23px;
                            font-weight: 700;
                        }
                    }
                    &-actually{
                        color: #000000;
                        font-size: 23px;
                        font-weight: 700;
                    }
                }
                &-button{
                    margin: 0 auto;
                    margin-top: 10px;
                    width: 190px;
                    height: 44px;
                    border: 2px solid #fbfbfb;
                    background-color: #36cc9a;
                }
            }
        }
    }
}