.third-section{
   @include mSection(fon3);
    height: auto;
    padding: 75px 0;
    .third-content{
    margin-top: 40px;
    
        .img__caption{
            font-size: $mainFont;
            text-align: center;
            margin: 10px 0 0 25px;
        }

        button{
            padding: 10px 40px;
            width: 80%;
            margin: 30px auto 0;
        }

    }
}

.sub-title{
    text-align: center;
    margin: 0 0 25px;
    text-transform: uppercase;;
}

.four{
    @include mSection(fon4);
    height: auto;
    padding: 75px 0;
}

.five{
    @include mSection(fon);
    height: auto;
    padding: 90px 0;
    &-content{
       .content__img{
        height: 240px;
        padding-left: 10px;
       }
    }
}

