$btnColors: #35CC99;
$mainColor: #D5B4F9;
$colorBtn: #fff;
$mainFont: 1.4375rem;
$font: 'Sansita', sans-serif;
$borderRadius: 30px;
$colorHover: orange;
$h1: 2.5rem;
$btnFont: 23px;
$bgWite: #fffffe;
$bgColor:#F7F7F7;
$footerColor: #0f0f0f;
$bgFacebook: #3b5998;
$bgLinked: #0073b0;
$secondaryColor: #ffc222