<h1>
    @ViewBag.CheckoutCompleteMessage
</h1>
<section class="cart__section container">
    <div class="back-button">
        <a class="secondary-link" href="#"><span class="secondary-text"> &lt;powrót </span> </a>
    </div>

    <div class="cart__title">
        <h1 class="">Sukces!</h1>
    </div>
    <div class="cart-container col-md-10 mx-auto p-4">
        <img class="confirm-img" src="img/orderImg/confirm.svg">
        <div class="succses__box">
            <h4>Twoje zamówienie zostało złożone</h4>
        </div>
        <form asp-controller="Home" asp-action="Index" method="get">
            <button class="cart__button  col-md-4 mx-auto mt-5">
                Zamknij
            </button>
        </form>
    </div>




</section>