@model IEnumerable<Domain.Entities.Book>

@{
    ViewBag.Title = "Cart";
}

<section class="cart__section container">
    <div class="back">
        <a href="#">&larr;<u>powrót</u></a>
    </div>

    <div class="cart__title">
        <h1 class="">Twój aktualny koszyk</h1>
    </div>
    <div class="cart__parametrs">

        <h2>Ilość</h2>
        <h2>Cena</h2>
    </div>
    <div class="cart__wrapper">
        <div class="cart__left">
            <img class="cart-img" src="img/cart-book.png" alt="book">
        </div>
        <div class="cart__lable">
            <h2 class="sub-title">Autor. Nazwa książki.</h2>

        </div>
        <div class="cart__number">
            <h2 class="sub-title">2</h2>
            <a class="secondary-link" href="#"><span class="secondary-text"> zmień </span> </a>
        </div>
        <div class="cart__cost">
            <h2 class="sub-title">69.99 <span>zł</span> </h2>
        </div>
        <div class="cart__trash">
            <a class="cart__trash-link" href="#"> <i class="fas fa-trash-alt"></i></a>
            <a class="secondary-link" href="#"><span class="secondary-text"> usuń </span> </a>
        </div>
    </div>
    <div class="cart__wrapper">
        <div class="cart__left">
            <img class="cart-img" src="img/cart-book.png" alt="book">
        </div>
        <div class="cart__lable">
            <h2 class="sub-title">Autor. Nazwa książki.</h2>

        </div>
        <div class="cart__number">
            <h2 class="sub-title">2</h2>
            <a class="secondary-link" href="#"><span class="secondary-text"> zmień </span> </a>
        </div>
        <div class="cart__cost">
            <h2 class="sub-title">69.99 <span>zł</span> </h2>
        </div>
        <div class="cart__trash">
            <a class="cart__trash-link" href="#"> <i class="fas fa-trash-alt"></i></a>
            <a class="secondary-link" href="#"><span class="secondary-text"> usuń </span> </a>
        </div>
    </div>
    <div class="cart__wrapper">
        <div class="cart__left">
            <img class="cart-img" src="img/cart-book.png" alt="book">
        </div>
        <div class="cart__lable">
            <h2 class="sub-title">Autor. Nazwa książki.</h2>

        </div>
        <div class="cart__number">
            <h2 class="sub-title">2</h2>
            <a class="secondary-link" href="#"><span class="secondary-text"> zmień </span> </a>
        </div>
        <div class="cart__cost">
            <h2 class="sub-title">69.99 <span>zł</span> </h2>
        </div>
        <div class="cart__trash">
            <a class="cart__trash-link" href="#"> <i class="fas fa-trash-alt"></i></a>
            <a class="secondary-link" href="#"><span class="secondary-text"> usuń </span> </a>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-10"></div>
        <div class="sum col-md-2">
            <h2 class="sum-text sub-title ">
                Razem
            </h2>

            <h2 class="sum-num ">69.99 <span>zł</span> </h2>
        </div>
    </div>
    <div class="row cart__button__box">
        <div class="col-md-3"></div>
        <button class="cart__button orangeBg col-md-4">
            Kontynuuj zakupy
        </button>
        <div class="col-md-1"></div>
        <button class="cart__button col-md-4">
            Przejdż do zamówienia
        </button>
    </div>

</section>