<section class="ranking-wrapper">
    <div class="container">
        <div class="ranking__header">
            Książki laureatów nagrody Pulitzera już w naszej kolekcji!<br>
            <span>2019 rok</span>
        </div>
        <div class="ranking__gold row">
            <div class="ranking__gold_image col-md-4">
                <img src="~/img/pulitzer/rowers.png" alt="Rowers">
            </div>
            <div class="ranking__gold_info col-md-6">
                <div class="ranking__gold_info_header">Zwycięzca</div>
                <div class="ranking__gold_info_description">
                    Richard Rowers. The Overstory<br>
                    Języki, w których jest dostępna książka:<br>
                    - angielski<br>
                    - polski<br>
                    - szkocki
                </div>
                <div class="ranking__gold_info_buttons row">
                    <button class="ranking__gold_info_buttons first col-md-5 offset-md-1">Szczegóły</button>
                    <button class="ranking__gold_info_buttons second col-md-5 offset-md-1">Do koszyka  <i class="fas fa-cart-arrow-down"></i></button>
                </div>
            </div>
            <div class="ranking__gold_price col-md-2">
                <div class="ranking__gold_price-availability"></div>
                <div class="ranking__gold_price-value">
                    69,99 zł
                </div>
            </div>
        </div>
        <div class="ranking__gold row">
            <div class="ranking__gold_image col-md-4">
                <img src="~/img/pulitzer/makkai.png" alt="Makkai">
            </div>
            <div class="ranking__gold_info col-md-6">
                <div class="ranking__gold_info_header">2 miejsce</div>
                <div class="ranking__gold_info_description">
                    Rebecca Makkai. The Great Believers<br>
                    Języki, w których jest dostępna książka:<br>
                    - angielski<br>
                    - polski<br>
                    - rosyjski
                </div>
                <div class="ranking__gold_info_buttons row">
                    <button class="ranking__gold_info_buttons first col-md-5 offset-md-1">Szczegóły</button>
                    <button class="ranking__gold_info_buttons second col-md-5 offset-md-1">Do koszyka  <i class="fas fa-cart-arrow-down"></i></button>
                </div>
            </div>
            <div class="ranking__gold_price col-md-2">
                <div class="ranking__gold_price-availability"></div>
                <div class="ranking__gold_price-value">
                    57,99 zł
                </div>
            </div>
        </div>
        <div class="ranking__gold row">
            <div class="ranking__gold_image col-md-4">
                <img src="~/img/pulitzer/orange.png" alt="Orange">
            </div>
            <div class="ranking__gold_info col-md-6">
                <div class="ranking__gold_info_header">3 miejsce</div>
                <div class="ranking__gold_info_description">
                    Tommy Orange. There there<br>
                    Języki, w których jest dostępna książka:<br>
                    - angielski<br>
                    - polski<br>
                    - rosyjski<br>
                </div>
                <div class="ranking__gold_info_buttons row">
                    <button class="ranking__gold_info_buttons first col-md-5 offset-md-1">Szczegóły</button>
                    <button class="ranking__gold_info_buttons second col-md-5 offset-md-1">Do koszyka  <i class="fas fa-cart-arrow-down"></i></button>
                </div>
            </div>
            <div class="ranking__gold_price col-md-2">
                <div class="ranking__gold_price-availability"></div>
                <div class="ranking__gold_price-value">
                    57,99 zł
                </div>
            </div>
        </div>
        <div class="ranking__link">
            <a href="pulitzer2018.html">&larr;<u>laureaci 2019</u></a>
        </div>
    </div>
</section>