@{
    ViewBag.Title = "Authors";
}
@*@section Styles {
    <link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css" />
}*@
<section class="opinion-wrapper">
    <div class="container">
        <div class="opinion-wrapper__header">
            Zostań naszym nowym autorem!
        </div>
        <div class="opinion-wrapper__info row">
            <div class="opinion-wrapper__info-img col-md-4 offset-md-1">
                <img src="~/img/opinie.svg" alt="opinion image">
            </div>
            <div class="opinion-wrapper__info-block col-md-6 offset-md-1">
                <div class="opinion-wrapper__info-block-text">
                    Od kilku lat marzysz o wydaniu swojej książki?<br>
                    Masz ładny pomysł na literaturę światową?<br>
                    Chcesz komunikować się z podobnymi ludżmi?<br>
                    Jesteś kreatywny i ambitny?<br>
                    Dołącz do naszego zespołu i zostań częścią historii!<br>
                    Podtrzymamy cię na początku!
                </div>
                <button class="opinion-wrapper__info-block-button" onclick="window.location.href='#'">Szczegóły</button>
            </div>
        </div>
    </div>
</section>
<section class="authors-wrapper">
    <div class="container">
        <div class="authors__header">
            Zobacz, z kim już współpracujemy!
        </div>
        <div class="authors__info row">
            <div class="authors__info-block col-md-4">
                <div class="authors__info-block-img">
                    <img src="img/authors/dontsova.png" alt="Darya Dontsova">
                </div>
                <div class="authors__info-block-header">
                    Darya Dontsova
                </div>
                <button class="authors__info-block-button" onclick="window.location.href='#'">
                    Poznaj autora
                </button>
            </div>
            <div class="authors__info-block col-md-4">
                <div class="authors__info-block-img">
                    <img src="img/authors/king.png" alt="Steven King">
                </div>
                <div class="authors__info-block-header">
                    Steven King
                </div>
                <button class="authors__info-block-button" onclick="window.location.href='#'">
                    Poznaj autora
                </button>
            </div>
            <div class="authors__info-block col-md-4">
                <div class="authors__info-block-img">
                    <img src="img/authors/manson.png" alt="Mark Manson">
                </div>
                <div class="authors__info-block-header">
                    Mark Manson
                </div>
                <button class="authors__info-block-button" onclick="window.location.href='#'">
                    Poznaj autora
                </button>
            </div>
        </div>
        <div class="authors__info row">
            <div class="authors__info-block col-md-4">
                <div class="authors__info-block-img">
                    <img src="img/authors/smith.png" alt="Aly Smith">
                </div>
                <div class="authors__info-block-header">
                    Aly Smith
                </div>
                <button class="authors__info-block-button" onclick="window.location.href='#'">
                    Poznaj autora
                </button>
            </div>
            <div class="authors__info-block col-md-4">
                <div class="authors__info-block-img">
                    <img src="img/authors/vodolazkin.png" alt="Roman Vodolazkin">
                </div>
                <div class="authors__info-block-header">
                    Roman Vodolazkin
                </div>
                <button class="authors__info-block-button" onclick="window.location.href='#'">
                    Poznaj autora
                </button>
            </div>
            <div class="authors__info-block col-md-4">
                <div class="authors__info-block-img">
                    <img src="img/authors/ibrahimovich.png" alt="Złatan Ibrahimović">
                </div>
                <div class="authors__info-block-header">
                    Złatan Ibrahimović
                </div>
                <button class="authors__info-block-button" onclick="window.location.href='#'">
                    Poznaj autora
                </button>
            </div>
        </div>
        <div class="authors__info row">
            <div class="authors__info-block col-md-4">
                <div class="authors__info-block-img">
                    <img src="img/authors/keyes.png" alt="Daniel Kayese">
                </div>
                <div class="authors__info-block-header">
                    Daniel Kayese
                </div>
                <button class="authors__info-block-button" onclick="window.location.href='#'">
                    Poznaj autora
                </button>
            </div>
            <div class="authors__info-block col-md-4">
                <div class="authors__info-block-img">
                    <img src="img/authors/palanik.png" alt="Chack Palanik">
                </div>
                <div class="authors__info-block-header">
                    Chack Palanik
                </div>
                <button class="authors__info-block-button" onclick="window.location.href='#'">
                    Poznaj autora
                </button>
            </div>
            <div class="authors__info-block col-md-4">
                <div class="authors__info-block-img">
                    <img src="img/authors/kiyosaki.png" alt="Robert Kiyosaki">
                </div>
                <div class="authors__info-block-header">
                    Robert Kiyosaki
                </div>
                <button class="authors__info-block-button" onclick="window.location.href='#'">
                    Poznaj autora
                </button>
            </div>
        </div>
        <div class="authors__info row">
            <div class="authors__info-block col-md-4">
                <div class="authors__info-block-img">
                    <img src="img/authors/rowling.png" alt="Joanne Rowling">
                </div>
                <div class="authors__info-block-header">
                    Joanne Rowling
                </div>
                <button class="authors__info-block-button" onclick="window.location.href='#'">
                    Poznaj autora
                </button>
            </div>
            <div class="authors__info-block col-md-4">
                <div class="authors__info-block-img">
                    <img src="img/authors/wernar.png" alt="Bernard Wernar">
                </div>
                <div class="authors__info-block-header">
                    Bernard Wernar
                </div>
                <button class="authors__info-block-button" onclick="window.location.href='#'">
                    Poznaj autora
                </button>
            </div>
            <div class="authors__info-block col-md-4">
                <div class="authors__info-block-img">
                    <img src="img/authors/martynchik.png" alt="Max Fray">
                </div>
                <div class="authors__info-block-header">
                    Svetlana Martynchik
                </div>
                <button class="authors__info-block-button" onclick="window.location.href='#'">
                    Poznaj autora
                </button>
            </div>
        </div>
    </div>
</section>